@import "tailwindcss";

body {
    font-family: 'general', sans-serif;
    width: 100dvw; /* new property, larger than viewport, fix scrollbar problem, when u have a vertical scrollbar*/
    background-color: #dfdff0;
    overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }

  
}

@theme {
  --color-lavender-50: #dfdff0;
  --color-lavender-75: #dfdff2;
  --color-lavender-100: #f0f2fa;

  --color-ink-200: #010101;

  --color-sky-300: #4fb7dd;
  --color-violet-300: #5724ff;

  --color-lime-100: #8e983f;
  --color-lemon-300: #edff66;
}

